/*
    Name: Jinxing Huang (Jason)
    ID: A00972319
 */



@media only screen and (min-width: 1024px){ 
    body{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #222e56;
    color: white;
}
#headertop{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
#headertop li{
    
    display: inline-block;
    margin: 0 20px;
    float: right
    list-style-type: none;
    
    
}
#headertop li a{
    color: white;
    display: block;
    margin: 5px 20px;
    float: right
    list-style-type: none;
    text-decoration: none;
    
}
#navcontainer{
    background-color: white;
    height: 90px;
}
#sidernav{
    list-style-type: none;
    text-align: center;
}
#sidernav li{
    text-decoration: none;
}
#sidernav li a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding:10px 5px;
}
#navlist{
    background-color: #d1d0ce;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    margin-top: 0;
    padding-left: 0;
}
#navlist li{
    display: inline-block;
    outline-style: none; 
    
}
#navlist li a{
    display: block;
    padding: 40px;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}
#navlist li a:hover{
    background-color: #222e56;
    color: white;
}
#title{
    text-align: center;
    height: 140px;
}
main{
    background-color: white;
    width: 100%;
    min-height: 600px;
    color: black;
}
#active{
     background-image: url("bk.jpg");
    background-size:100% 100%;
background-repeat:no-repeat;
    z-index: -1;
}
#content{
    width: 960px;
    background-color: #d1d0ce;
    margin:0;
    margin-left: 202px;
    margin-right: auto;
    padding: 10px;
    z-index: 999;
    
}
#leftsidebar{
    float: left;
}
#leftsidebar h4{
    text-align: center;
}

footer{
    text-align: center;
}

}










@media only screen and (min-width: 801px) and (max-width: 1024px){
    
    body{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #222e56;
    color: white;
}
#headertop{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
#headertop li{
    
    display: inline-block;
    margin: 0 20px;
    float: right
    list-style-type: none;
    
    
}
#headertop li a{
    color: white;
    display: block;
    margin: 5px 20px;
    float: right
    list-style-type: none;
    text-decoration: none;
    
}
#navcontainer{
    background-color: white;
    height: 90px;
}
#sidernav{
    list-style-type: none;
    text-align: center;
    
    
}
#sidernav li{
    text-decoration: none;
}
#sidernav li a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding:10px 5px;
    color: black;
}
#navlist{
    background-color: #d1d0ce;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    margin-top: 0;
    padding-left: 0;
}
#navlist li{
    display: inline-block;
    outline-style: none; 
    
}
#navlist li a{
    display: block;
    padding: 40px;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}
#navlist li a:hover{
    background-color: #222e56;
    color: white;
}
#title{
    text-align: center;
    height: 140px;
}
main{
    background-color: white;
    width: 100%;
    min-height: 600px;
    color: black;
}
#active{
     background-image: url("bk.jpg");
    background-size:100% 100%;
background-repeat:no-repeat;
    z-index: -1;
}
#content{
    width: auto;
    background-color: #d1d0ce;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    z-index: 999;
    
}
#leftsidebar{
    float: left;
}
#leftsidebar h4{
    text-align: center;
}

footer{
    text-align: center;
}
}











@media only screen and (min-width: 10px) and (max-width: 800px){ 
    body{font-size: 4.5vw;}
    body{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #222e56;
    color: white;
}
#headertop{
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    
}
#headertop li{
    
    display: inline-block;
    
    list-style-type: none;
    
    
}
#headertop li a{
    color: white;
    display: block;
    margin: 5px 10px;
    float: right
    list-style-type: none;
    text-decoration: none;
    
}
#navcontainer{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
#sidernav{
    list-style-type: none;
    text-align: center;
    padding: 0;
}
#sidernav li{
    text-decoration: none;
}
#sidernav li a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding:10px 5px;
    color: black;
    font-size: 6vw;
}
#sidernav li a:hover{
    background-image: url("bk.jpg");
    background-size:100% 100%;
    background-repeat:no-repeat;
    color: black;
}
h4{
        font-size: 7vw;
    }
#navlist{
    background-color: #d1d0ce;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
#navlist li{
    display: inline-block;
    outline-style: none; 
    padding: 1%;
    
}
#navlist li a{
    display: block;
    
    font-size: 4.5vw;
    text-decoration: none;
    color: black;
    padding: 2% 0;
}
#navlist li a:hover{
    background-color: #222e56;
    color: white;
}
#title{
    text-align: center;
    margin-top: 20%;
    height: auto;
}
main{
    background-color: white;
    width: 100%;
    min-height: auto;
    color: black;
    position: absolute;
}
#active{
    background-image: url("bk.jpg");
    background-size:100% 100%;
    background-repeat:no-repeat;
}
#content{
    background-color: #d1d0ce;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    
}

#leftsidebar h4{
    text-align: center;
}

footer{
    background-color: #222e56;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    z-index: 9;
}
    footer p{
        margin: 0;
    }

    #leftsidebar{position: relative;}
    
    
}
