/*
    Name: Jinxing Huang (Jason)
    ID: A00972319
 */


body{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #222e56;
    color: white;
}
#headertop{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
#headertop li{
    
    display: inline-block;
    margin: 0 20px;
    float: right
    list-style-type: none;
    
    
}
#headertop li a{
    color: white;
    display: block;
    margin: 5px 20px;
    float: right
    list-style-type: none;
    text-decoration: none;
    
}
#navcontainer{
    background-color: white;
    height: 90px;
}
#sidernav{
    list-style-type: none;
    text-align: center;
}
#sidernav li{
    text-decoration: none;
}
#sidernav li a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding:10px 5px;
}
#navlist{
    background-color: #d1d0ce;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    margin-top: 0;
    padding-left: 0;
}
#navlist li{
    display: inline-block;
    outline-style: none; 
    
}
#navlist li a{
    display: block;
    padding: 40px;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}
#navlist li a:hover{
    background-color: #222e56;
    color: white;
}
#title{
    text-align: center;
    height: 140px;
}
main{
    background-color: white;
    width: 100%;
    min-height: 600px;
    color: black;
}
#active{
     background-image: url("bk.jpg");
    background-size:100% 100%;
background-repeat:no-repeat;
    z-index: -1;
}
#content{
    width: 960px;
    background-color: #d1d0ce;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    z-index: 999;
    
}
#leftsidebar{
    float: left;
}
#leftsidebar h4{
    text-align: center;
}

footer{
    text-align: center;
}
